#carritoCompra{
    align-items: center;
    align-content: center;
    text-align: center;
    margin-top: 20px;
}




.marginn-button{
  margin: 0 0 0 125px;
}


#seccionVentasCarrito{
  background-color: #ee6e1e;
  display: flex;
  color: white;
  transition: all ease 1s;
  filter: blur(1px);
  position: fixed;
  z-index: 10;
  border-radius: 10px;
  padding: 100px;
  width: 40%;
  align-content: flex-start;
  text-align: center;
  justify-content: center;
  margin: 0 60%;
 
}

.mifuenteEncabezado {
    font-family: "Source Serif 4";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    
    color: 
    rgb(13, 12, 34);
    
  }

#marron{
    background-color: #82533A;
}
/* .navbar.is-transparent {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con 80% de opacidad */
 */
.temas{
    width: 100%;
    height: auto;
}

.stiky-var{
    position: sticky;
    top:0;
    /* filter: blur(1px); */
}

.instagram-background {
    background: linear-gradient(45deg, 
      #f09433 0%, 
      #e6683c 25%, 
      #dc2743 50%, 
      #cc2366 75%, 
      #bc1888 100%);
    color: rgb(255, 255, 255);
    border: solid 1px transparent;
}

.imgg:hover>:not(:hover){
  filter: blur(2px);
  transition: all ease 1s;
}

.imgg img{
  width: 200px;
  transition: .8s;
  border-radius: 10px;
}

.imgg img:hover{
  scale: 1.2;
  margin: 10px;
}

.fondo-images{
    filter: drop-shadow(
        0 0 10px rgba(0, 0, 0, 0.528)
    );
}


/* ------------- fondo------------- */

body{
    background-image: url(/img/wave-haikei\ \(10\).svg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    
} 




body{
  cursor: url("/cur/arrow-pointer-solid\ \(3\).svg"), auto;
}


.instagram-background:hover{
    color: #4ecdd6;
    transition: all ease 10s;
    border: none;
    
}
.linea-abajo {
    border-bottom: 2px solid #d8d8d8; /* Ajusta el grosor y color de la línea */
    padding-bottom: 10px; /* Espacio entre el contenido y la línea */
  }
:root{
    --marron: #82533A
    --rojo: red
    --gris: #313035
    --black: #222023
    --beige: #8E8E8E
}
.alinear{
    
    text-align: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
#red{
    background-color: rgb(157, 95, 95);
}
#beige{
    background-color: #8E8E8E;
}
#marron{
    background-color: #82533A;
}

#gris{
    background-color: #313035;
}


/* ------------ carrusel------ */


  
  .pic-ctn {
    width: 240px;
    height: 200px;
    margin-bottom: 1000px;
  }
  

  .pic{
    border-radius: 10px;
    width: 4000px;
    height: 300px;
  }
  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(200px);
      opacity: 0;
    }
  }
  
  .pic-ctn {
    position: relative;
    width: 200px;
    height: 300px;
    margin-top: 1px;
    margin: auto;
  }
  
  .pic-ctn > img {
    position: absolute;
    top: 0;
    left: calc(200px - 200px);
    opacity: 0;
    animation: display 10s infinite;
  }
  
  img:nth-child(2) {
    animation-delay: 1s;
  }
  img:nth-child(3) {
    animation-delay: 3s;
  }
  img:nth-child(4) {
    animation-delay: 4s;
  }
  img:nth-child(5) {
    animation-delay: 6s;
  }