{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseño</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="{% static '/css/index.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
    
    

</head>
<body>

    
    
    <nav class="navbar has-shadow p-2 stiky-var is-transparent is-white">
        <div class="navbar-brand">
            <div class="navbar-item">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                    <img src="https://bulma.io/assets/brand/Bulma%20Logo.png" alt="logo" style="width: auto;height: 120px;" title="Logo Bulma">
                </a>
            </div>
            <div class="navbar-item">
                <input class="input is-rounded is-size-7-mobile  is-fullwidth" type="text" placeholder="Buscar productos..." />
            </div>
                <a class="navbar-burger" id="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
        </div>
        <!-- menu -->
         <div class=" navbar-menu" id="navbar-links">
            <div class="navbar-end">
                <a href="#" class="navbar-item is-size-6 ">Nosotros</a>
                <a href="#" class="navbar-item">Quienes somos</a>
                
                <a href="/aplicacion/templates/formulario_base.html" class="navbar-item p-2"   title="Usuario" >
                    <button class="button is-rounded p-4 " style="border: none;">
                        Log in
                        
                    </button>
                </a>
                <div class="navbar-item p-2" >
                    <button class="button is-rounded p-5 is-warning" style="border: none;">
                        <span>Comprar</span>
                        <span class="icon">
                            <i class="fa-solid fa-cart-shopping"  ></i>
                            {% comment %} <span id="count">0</span> {% endcomment %}
                        </span>
                        
                    </button>
                </div>
            </div>
         </div>
         
    </nav>
    <!-- <div id="seccionVentasCarrito"></div> -->
    <!-- breadcump -->
     <div class="section pt-0 pt-0 mt-3">
        <nav class="breadcrumb has-arrow-separator" >
            <ul>
                <li><a href="">Shop</a></li>
                <li><a href="">NewYork</a></li>
                <li><a href="">Buy</a></li>
            </ul>
        </nav>
     </div>
     

     
    <div class="container mt-5">
        <div class="columns">
            <div class="column">
                <h1 class="is-size-1 has-text-weight-semibold has-text-centered mifuenteEncabezado title">El Arte de crear cosas hermosas</h1>
                <div class="mt-1 p-1">
                    <p class="has-text-centered">Encuentra el mueble perfecto que transforme tu hogar en un espacio único y acogedor</p>
                </div>
            </div>
        </div>
        
         

    
      
       {% comment %} <!----------------------------------------------------------------------PARTE AMARRILLA---------------------------------------------------------------------------------------------  --> {% endcomment %}
    
   

    
    <div class="has-background-warning p-6 temas px-5">
        <div class="container p-6">
            <h1 class="mifuenteEncabezado is-size-2 is-info has-text-centered is-10-mobile pb-4 title is-4-mobile">Descubre la belleza y durabilidad de nuestros muebles de madera, creados para transformar tu hogar con elegancia y estilo.</h1>
            <p class="has-text-centered has-text-weight-semibold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae eligendi quibusdam ratione quisquam ut dolorem!</p>
            </div>
            <div class="container is-warning is-medium is-size-1 has-text-centered mt-1 is-justify-content-end p-6" >
                <button class="button is-medium is-rounded instagram-background"  title="Instagram">
                    <span class="icon">
                        <i class="fa-brands fa-instagram "></i>
                        <!-- <i class="fa-brands fa-instagram fa-spin-pulse instagram-background "></i> -->
                    </span>
                    <span>
                        Instagram
                    </span>
                </button>
                
                </button>
                <button class="button is-medium is-rounded is-white "  title="Nuestro Facebook" style="background-color: #0866FF;color: white;">
                    <span class="icon">
                        <i class="fa-brands fa-facebook"></i>
                    </span>
                    <span>
                        Facebook
                    </span>
                </button>
                <button class="button is-medium is-rounded is-white "  title="Nuestro Telegram" style="background-color: #000000;color: aliceblue;">
                    <span class="icon">
                        <i class="fa-brands fa-telegram "></i>
                    </span>
                    <span>
                        Telegram
                    </span>
                </button>
            </div>
            
            
        </div>
        
    </div>
</div>




</div>


    <div class="container mt-6  linea-abajo">
        <div class="columns">
            <div class="column">
                <h1 class="mifuenteEncabezado has-text-centered  is-size-2">Explora Nuestros productos</h1>
            </div>
        </div>
    </div>

    {% comment %} <!-- -----------------------------------------------SECCION DE VENTA-----------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------- --> {% endcomment %}


{% comment %} 
----------------------------------------------Prueba------------------------------------------------------------------------- {% endcomment %}




<div class="container p-6">
    <div class="columns is-multiline">
        {% for producto in productos %}
        <div class="column is-4">
            <div class="card product-card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="/img/cabecero-austin.png" alt="Producto 1">
                    </figure>
                </div>
                <div class="card-content">
                    <h2 class="title is-5">{{producto.nombre}}</h2>
                    <p>{{producto.descripcion}}
                    </p>
                    <div class="content">
                        <strong>Precio:</strong> ${{producto.precio}}
                    </div>
                    <div>
                        <button class=" button p-4" id="red"></button>
                        <button class=" button" id="beige"></button>
                        <button class=" button" id="marron"></button>
                        <button class="button marginn-button is-success">
                            <i class="fa-brands fa-whatsapp" style="font-size:19px">
                            </i>
                        </button>
                        <button class="button is">
                            <i class="fa-solid fa-cart-shopping" style="color: #ffcb0f;"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>








<!-- -------------------------------------------------------------NAVIGATION----------------------------------------------------------- -->
    <div class="container mb-5">
        <nav class="pagination has-text-centered" role="navigation" aria-label="pagination">
            <a class="pagination-previous is-disabled has-background-white " title="This is the first page"
              >Anterior</a
            >
            <a href="#" class="pagination-next  has-background-white">Siguiente Pagina</a>
            <ul class="pagination-list">
              <li>
                <a
                  class="pagination-link is-current"
                  aria-label="Page 1"
                  aria-current="page"
                  >1</a
                >
              </li>
              <li>
                <a href="#" class="pagination-link has-background-white" aria-label="Goto page 2">2</a>
              </li>
              <li>
                <a href="#" class="pagination-link has-background-white" aria-label="Goto page 3">3</a>
              </li>
            </ul>
          </nav>

    </div>
    
    <!-- ----------------------------------------------------------------------FOOOTER ------------------------------------------------------------------------------------- -->
    <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>Esta pagina esta creada </strong> por <a href="https://www.instagram.com/kaisarasgrimmes/">Cesar Martinez</a>.
            Desarrolada y modificada
            <a href="https://www.sena.edu.co/es-co/Paginas/default.aspx">CESAR</a>. The
            website content is licensed
            <a href="https://creativecommons.org/licenses/by-nc-sa/4.0//"
              >No tiene licencia A</a
            >.
          </p>
        </div>
        <!-- w -->
      </footer>
<!-- 
---------------------------------------------------------------------------------------SCRIPTS---------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
    



</body>
</html>
